{% extends "base.html" %}
{% block title %}Попытки рассылки {{ mailing.id }} {% endblock %}
{% block content %}

<div>
    {% if attempts %}
    <ul>
        {% for att in attempts %}
        <li>
            {% if att.is_successful %}
            <h4 style="color: green">
                {{att.date_time}}
                {{ att.is_successful }}
            </h4>
            {% else %}
            <h4 style="color: red">
                {{att.date_time}}
                {{ att.server_response }}
            </h4>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-lg btn-outline-primary mx-2 px-5 m-3 float-bottom">На домашнюю</a>
    <button type="button" class="btn btn-lg btn-outline-primary mx-2 px-5 m-3 float-bottom"
            onClick="javascript:history.go(-1);">Назад
    </button>

</div>
{% endblock %}