{% extends "base.html" %}
{% block title %} рассылка {{ mailing.id }} {% endblock %}
{% block content %}
<div class="container-fluid d-flex border" xmlns="http://www.w3.org/1999/html">
    <div class="m-2">
        <h4>Дата и время первой отправки: {{ mailing.send_start }}</h4>
        <br>
        <h4>Дата и время окончания отправки: {{ mailing.send_stop }}</h4>
        <br>
        <h4>Статус рассылки: {{ mailing.status }}</h4>
        <br>
        <h4>Сообщение:
            <a href="/message_details/{{mailing.message.id}}">{{ mailing.message }}</a></h4>
        <h4>Получатели:</h4>
        {% if mailing.clients.all %}
        <ul>
            {% for client in mailing.clients.all %}
            <li>{{ client.full_name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h5>получатели не указаны</h5>
        {% endif %}
    </div>
</div>
<div>
<a href="{% url 'force_mailing' pk=mailing.id %}" class="btn btn-lg btn-outline-primary mx-2 px-5 m-3 float-bottom">
    Отправить принудительно
</a>
</div>
<div>
<a href="{% url 'edit_mailing' pk=mailing.id %}" class="btn btn-lg btn-outline-primary mx-2 px-5 m-3 float-bottom">
    Изменить
</a>
<a href="{% url 'delete_mailing' pk=mailing.id %}" class="btn btn-lg btn-outline-primary mx-2 px-5 m-3 float-bottom">
    Удалить
</a>
<a href="{% url 'home' %}" class="btn btn-lg btn-outline-primary mx-2 px-5 m-3 float-bottom">Назад</a>
</div>
{% endblock %}